<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huihe.module_home" >
    <application
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.HouseDetailActivity"/>
        <activity android:name=".ui.activity.HouseFollowActivity"/>
        <activity android:name=".ui.activity.HouseTakeLookRecordActivity"/>
        <activity android:name=".ui.activity.HouseLogHomeActivity"/>
        <activity android:name=".ui.activity.SetHouseInfoActivity"/>
        <activity android:name=".ui.activity.CustomerProfileActivity"/>
        <activity android:name=".ui.activity.AddFollowActivity"/>
        <activity android:name=".ui.activity.HouseTakeLookRecordInsertActivity"/>

        <activity android:name=".ui.activity.HouseNearActivity"/>

        <activity android:name=".ui.activity.HouseSelectActivity"/>
        <activity android:name=".ui.activity.AddHouseActivity"/>

        <activity android:name=".ui.activity.SetOwnerInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

    </application>
</manifest>
