<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huihe.usercenter" >
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.CommunityManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.DistrictActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.CorporateCultureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.AboutusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.AddressBookActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.DeptInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.SearchCommunityActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ResultCommunityActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.SearchHouseListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MineLookTaskHomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MineLookTaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.InsertMineLookHouseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.BehaviourActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MineLookHouseFollowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.AccompanyFollowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.LookTaskAuditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.SignActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
