<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huihe.boyueestate">

    <!--华为推送权限配置-->
    <permission
        android:name="com.huihe.boyueestate.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem" />
    <uses-permission android:name="com.eghuihe.teachpay.permission.PROCESS_PUSH_MSG" />

    <!--小米推送权限配置-->
    <permission
        android:name="com.huihe.boyueestate.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.huihe.boyueestate.permission.MIPUSH_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:name=".common.MainApplication"
        android:networkSecurityConfig="@xml/network"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.SplashActivity"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.welcome"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name=".utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8kutsdYWk96syU2PY8KZKWwZvImyt3Cr" />
        <meta-data
            android:name="com.mob.mobpush.debugLevel"
            android:value="4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>