<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibai.message">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/im_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name="com.ibai.message.component.video.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".component.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ibai.message.component.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ibai.message.component.video.VideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.ibai.message.component.photoview.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ibai.message.modules.group.info.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ibai.message.modules.group.info.StartGroupMemberSelectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ibai.message.component.SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ibai.message.modules.group.apply.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.ibai.message.modules.group.apply.GroupApplyMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--
                <activity
                    android:name="com.tencent.liteav.trtcvideocalldemo.ui.SelectContactActivity"
                    android:launchMode="singleTop"
                    android:screenOrientation="portrait"
                    android:windowSoftInputMode="stateAlwaysHidden"
                    android:theme="@style/Theme.AppCompat.NoActionBar" />
                <activity
                    android:name="com.tencent.liteav.trtcaudiocalldemo.ui.TRTCAudioCallActivity"
                    android:launchMode="singleTop"
                    android:screenOrientation="portrait"
                    android:theme="@style/Theme.AppCompat.NoActionBar" />
                <activity
                    android:name="com.tencent.liteav.trtcvideocalldemo.ui.TRTCVideoCallActivity"
                    android:launchMode="singleTop"
                    android:screenOrientation="portrait"
                    android:theme="@style/Theme.AppCompat.NoActionBar" />-->

        <provider
            android:name="com.ibai.message.utils.TUIKitFileProvider"
            android:authorities="com.ibai.message.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

    </application>

</manifest>
