<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huihe.customercenter" >
    <application
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.CustomerDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CustomerFollowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AddCustomerFollowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CustomerLogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CustomerInfoEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SetCustomerInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.AddCustomerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CustomerSearchActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
