<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huihe.customercenter" >
    <application
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.CustomerDetailActivity"/>
        <activity android:name=".ui.activity.CustomerFollowActivity"/>
        <activity android:name=".ui.activity.AddCustomerFollowActivity"/>
        <activity android:name=".ui.activity.CustomerLogActivity"/>
        <activity android:name=".ui.activity.CustomerInfoEditActivity"/>
        <activity android:name=".ui.activity.SetCustomerInfoActivity"/>
        <activity android:name=".ui.activity.AddCustomerActivity"/>
    </application>
</manifest>
